repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-lint
        name: Ruff Lint
        entry: uv run ruff check
        language: system
        types: [python]
