/**
 * Common CV Styles
 *
 * Shared styles used by both web preview and PDF generation.
 * These styles work consistently across rendering engines.
 */

/* General Reset and Base Styles */
html, body, p, ul, li {
  margin: 0;
  padding: 0;
  font-size: 9pt;
  line-height: 1;
  font-family: 'Avenir 35';
}

/* Typography - Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px;
}

h1, h2, h3, h5 {
  color: var(--theme-color, #0395DE);
}

h1 {
  font-size: 30pt;
  font-family: 'Avenir 35';
  padding-top: 0;
  padding-bottom: 0;
  padding-right: var(--padding, 12mm);
  text-align: center;
  border-bottom: none;
}

h2 {
  font-size: 16pt;
  font-family: 'Avenir 55';
  width: calc(var(--page-width, 190mm) - var(--sidebar-width, 60mm) - var(--h2-padding-left, 4mm));
  padding-top: 8mm;
  padding-bottom: 1mm;
  padding-left: var(--h2-padding-left, 4mm);
}

h2:first-of-type {
  padding-top: var(--padding, 12mm);
}

h3 {
  font-size: 14pt;
  font-family: 'Avenir 45';
  padding-top: 7mm;
}

h4 {
  font-size: 10pt;
  font-family: 'Avenir 45';
}

h5 {
  font-size: 10pt;
  font-family: 'Avenir 55';
  padding-right: var(--padding, 12mm);
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}

/* Links */
a {
  color: inherit;
  text-decoration: inherit;
}

/* Lists */
ul {
  list-style-type: none;
}

li:before {
  content: "- ";
}

/* Content Containers */
.pitch {
  padding-top: var(--pitch-padding-top, 4mm);
  padding-bottom: var(--pitch-padding-bottom, 4mm);
  padding-left: var(--pitch-padding-left, 4mm);
  padding-right: var(--padding, 12mm);
  border-bottom: 2px solid var(--sidebar-color, #F6F6F6);
}

.skill-container {
  padding-top: 3mm;
}

.skill-spacer {
  padding-top: 3mm;
  clear: both;
}

.contact-container {
  display: table;
  float: left;
  height: 4mm;
  padding-left: 2mm;
}

.contact-text {
  display: table-cell;
  vertical-align: middle;
}

.content {
  float: left;
  width: calc(var(--page-width, 190mm) - var(--sidebar-width, 60mm));
  padding-top: 4mm;
}

.spacer {
  clear: both;
}

.date-container {
  float: left;
  padding-left: 8mm;
  width: var(--date-container-width, 13mm);
}

.date2, .description {
  padding-top: 2mm;
}

.date1 {
  font-size: 9pt;
}

.date2 {
  font-size: 8pt;
  color: var(--date2-color, #616161);
}

.date1, .date2 {
  text-align: center;
  width: var(--padding, 12mm);
}

.description-container {
  float: left;
  position: relative;
  width: calc(var(--page-width, 190mm) - var(--sidebar-width, 60mm) - var(--padding, 12mm) - var(--date-container-width, 13mm) - var(--date-container-padding-left, 8mm) - var(--description-container-padding-left, 3mm) - 1mm);
  padding-left: var(--description-container-padding-left, 3mm);
  padding-right: var(--padding, 12mm);
  border-left: 2px solid var(--sidebar-color, #F6F6F6);
}

.description {
  line-height: 2;
}

/* Line Height Adjustments */
.pitch p {
  font-size: 9pt;
  line-height: 1.4;
}

.description p, .description li {
  line-height: 1.4;
}

/* Skill Bars */
.bar-container {
  padding-top: 1mm;
}

.bar-grey, .bar-blue {
  height: 1mm;
  float: left;
}

.bar-grey {
  background-color: var(--bar-background-color, #DFDFDF);
}

.bar-blue {
  background-color: var(--theme-color, #0395DE);
}

/* Images */
.icon {
  width: 4mm;
  height: 4mm;
  float: left;
}

.profile {
  width: calc(var(--sidebar-width, 60mm) - 2 * var(--padding, 12mm));
  height: calc(var(--sidebar-width, 60mm) - 2 * var(--padding, 12mm));
  padding-bottom: var(--profile-image-padding-bottom, 6mm);
}
